
body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
}

/* another cool pink  - #fdaead */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #1A4790;
  font-family: 'Molle', cursive;
  font-family: 'Vibur', cursive;
  font-family: 'Grenze', serif;
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 4em;
}

p {
  color: #DF5826;
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  font-weight: 800;
  margin: 0 !important;
}
