
body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* another cool pink  - #fdaead */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #1A4790;
  font-family: 'Molle', cursive;
  font-family: 'Vibur', cursive;
  font-family: 'Grenze', serif;
  margin-bottom: 5px;
}

p {
  color: #DF5826;
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  font-weight: 800;
  margin: 0 !important;
}

.navButton {
  height: 6.5em;
  width: 6.5em;
  position: absolute;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-family: 'Muli', sans-serif;
}
.navLink {
  animation: fadein 2s;

    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#menuTitle{
  position: absolute;
  top: -4.2em;
  left: 7px;
  transform: rotate(315deg);
  font-size: 14px;
  color: white;
}
#menuCloseTitle{
  position: absolute;
  top: -2.69em;
  left: 16px;
  transform: rotate(315deg);
  font-size: 24px;
  color: white;
}

#triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 35px solid #E19C28;
  border-left: 35px solid transparent;
  position:relative;
  top: -56px;
  left: 21px;
  z-index: 1
}

#topColorBar {
  height: 20px;
  width: 400px;
  background-color: #a60d78;
  position:absolute;
  left: 7.7em;
  top:0px;
}

#sideColorBar {
  width: 20px;
  height: 200px;
  background-color: #E19C28;
  position:absolute;
  top: 7.7em;
  left:0px;
}

#menuButton {
    width: 0;
    height: 0;
    border-style:none;
    padding:0;
    cursor: pointer;
    background-color:inherit;
    border-top: 75px solid #1A4790;
    border-right: 75px solid transparent;
    position: absolute;
    top: 0px;
    left: 0px;
  }
@keyframes aboutTransitionIn {
    from {
        top:-5em;
    }
    to {
        top:0;
    }
}
@keyframes aboutTransitionOut {
    from {
        top:0;
    }
    to {
        top:-5em;
    }
}
#aboutButton {
  left: 13em;
  top: 0em;
  background:#1A4790 ;/*#fdaead pink light*/
  height:4.5em;
  width: 4.5em;
  animation-duration: .2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes workTransitionIn {
    from {
        top:-5em;
    }
    to {
        top:0;
    }
}
@keyframes workTransitionOut {
    from {
        top:0;
    }
    to {
        top:-5em;
    }
}
#workButton {
  left: 6.5em;
  top: 0em;
  background: #418a34;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes designTransitionIn {
    from {
        left:-5em;
    }
    to {
        left:0;
    }
}
@keyframes designTransitionOut {
    from {
        left:0;
    }
    to {
        left:-5em;
    }
}
#designButton {
  left: 0em;
  top: 6.5em;
  background: #E19C28;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes codeTransitionIn {
    from {
        left:-5em;
    }
    to {
        left:6.5em;
    }
}
@keyframes codeTransitionOut {
    from {
        left:6.5em;
    }
    to {
        left:-5em;
    }
}
#codeButton {
  left: 6.5em;
  top: 6.5em;
  background:#DF5826;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes contactTransitionIn {
    from {
        left:-5em;
    }
    to {
        left:0;
    }
}
@keyframes contactTransitionOut {
    from {
        left:0;
    }
    to {
        left:-5em;
    }
}
#contactButton {
  left: 0;
  top: 13em;
  background: #a60d78;
  height:4.5em;
  width: 4.5em;
  animation-duration: .2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.menu li:nth-of-type(1) {
  position: absolute;
  left: 13.3em;
  top: -5em;
  background: #DF5826;
  font-size: .75em;
}
.menu li:nth-of-type(2) {
  position: absolute;
  left: 5em;
  top: -3.75em;
  background: #418a34;
}
.menu li:nth-of-type(3) {
  position: absolute;
  left: 0em;
  top: 8.2em;
  background: #E19C28;
  font-size: .75em;
}
.menu li:nth-of-type(4) {
  position: absolute;
  left: 5em;
  top: 1.2em;
  background: #1A4790;
}
.menu li:nth-of-type(5)2 {
  position: absolute;
  left: 0em;
  top: 1.2em;
  background: #a60d78;
}
